
@{
    ViewBag.Title = "GraciasPorsuCompra";
}

<h2>Gracias por su compra</h2>

@Html.ActionLink("Dar seguimiento al pedido", "Index", "Ventas" )
<br />
@Html.ActionLink("Seguir comprando", "ProductoCliente", "Productoes")

