@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/carousel.css" rel="stylesheet">
</head>
<!-- Slider-->


    <!-- Wrapper for slides -->
    @*    <div class="carousel-inner">

            <div class="item active">
                <img class="first-slide" src="~/img/slide01.jpg" alt="Los Angeles" style="width:100%;">
                <div class="carousel-caption text-left">
                    <h1>Las verduras mas frescas hasta la puerta de tu hogar</h1>
                    <p>Garantizamos la frescura de tus productos</p>
                    <p><a class="btn btn-lg btn-primary" href="/Account/Register" role="button">¡Registrate!</a></p>
                </div>
            </div>

            <div class="item">
                <img class="second-slide" src="~/img/slide02.jpg" alt="Chicago" style="width:100%;">
                <div class="carousel-caption">
                    <h1>En apoyo a la economía local</h1>
                    <p>Buscamos apoyar a los comerciantes locales</p>
                </div>
            </div>

            <div class="item">
                <img class="third-slide" src="~/img/slide01.jpg" alt="New York" style="width:100%;">
                <div class="carousel-caption">
                    <h1>Amigables con tu bolsillo</h1>
                    <p>Queremos que ahorres y tengas lo necesario para tus alimentos</p>
                </div>
            </div>

        </div>*@

    <section class="tns-carousel mb-3 mb-md-5">
        <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: false}, &quot;576&quot;: {&quot;nav&quot;: false, &quot;controls&quot;: true}}}">
            <!-- Slide 1-->
            <div>
                <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-image: url(/img/2.png);">
                    <div>
                        <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px; ">
                            <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                                <h2 class="h1 text-light">Las verduras mas frescas hasta la puerta de tu hogar</h2>
                                <p class="text-light pb-4">Garantizamos la frescura de tus productos</p>
                                <h5 class="text-light pb-3">¿No tienes cuenta aun?</h5>
                                <div class="d-flex flex-wrap justify-content-center justify-content-xl-start"><a class="btn btn-lg btn-primary" href="/Account/Register" role="button">¡Registrate!</a></div>
                            </div>
                            @* <div><img src="~/img/mercadoslide11.jpg" alt="Image"></div>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide 2-->
            <div>
                <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-image: url(/img/1.png);">
                    <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px; ">
                        <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                            <h2 class="h1 text-light">Apoyando la economia local y a tu bolsillo</h2>
                            <p class="text-light pb-4">Al consumir productos locales, ahorras mas.</p>
                            <h5 class="text-light pb-3"></h5>
                            <div class="d-flex flex-wrap justify-content-center justify-content-xl-start"><a href="#" role="button"><span class="btn-market-subtitle"></span><span class="btn-market-title"></span></a><a href="#" role="button"><span class="btn-market-subtitle"></span><span class="btn-market-title"></span></a></div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-image: url(/img/2.png);">
                <div>
                    <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px; ">
                        <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                            <h2 class="h1 text-light">Las verduras mas frescas hasta la puerta de tu hogar</h2>
                            <p class="text-light pb-4">Garantizamos la frescura de tus productos</p>
                            <h5 class="text-light pb-3">¿No tienes cuenta aun?</h5>
                            <div class="d-flex flex-wrap justify-content-center justify-content-xl-start"><a class="btn btn-lg btn-primary" href="/Account/Register" role="button">¡Registrate!</a></div>
                        </div>
                        @* <div><img src="~/img/mercadoslide11.jpg" alt="Image"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>




<!-- How it works-->
<section class="pt-4 mb-4 mb-md-5">
    <h2 class="h3 text-center mb-grid-gutter pt-2">¿Cómo funciona?</h2>
    <div class="row g-0 bg-light rounded-3">
        <div class="col-xl-4 col-lg-12 col-md-4 border-end">
            <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                    <div class="display-3 fw-normal opacity-15 me-4">01</div>
                    <div class="ps-2">
                        <img class="d-block my-2" src="~/img/01.png" width="72" alt="Order online">
                        <p class="mb-3 pt-1">Eliges tus productos a traves de nuestra página</p>
                    </div>
                </div>
                <hr class="d-md-none d-lg-block d-xl-none">
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-4 border-end">
            <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                    <div class="display-3 fw-normal opacity-15 me-4">02</div>
                    <div class="ps-2">
                        <img class="d-block my-2" src="~/img/02.png" width="72" alt="Grocery collected">
                        <p class="mb-3 pt-1">Un asistente personal recoge los productos que seleccionaste</p>
                    </div>
                </div>
                <hr class="d-md-none d-lg-block d-xl-none">
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-4">
            <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                    <div class="display-3 fw-normal opacity-15 me-4">03</div>
                    <div class="ps-2">
                        <img class="d-block my-2" src="~/img/03.png" width="72" alt="Delivery">
                        <p class="mb-3 pt-1">Los estregamos a la puerta de tu casa a la hora que mas te convenga</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bestsellers (carousel)-->
<section class="pt-5 pb-4">
    <!-- Heading-->
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
        <h2 class="h3 mb-0 pt-3 me-3">Bestsellers</h2>
        <div class="pt-3"><a class="btn btn-outline-accent btn-sm" href="grocery-catalog.html">More products<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
    </div>
    <div class="tns-carousel tns-controls-static tns-controls-outside tns-dots-enabled pt-2">
        <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:2}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:5}}}">
            <!-- Product-->
            <div>
                <div class="card product-card card-static pb-3">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html"><img src="img/grocery/catalog/08.jpg" alt="Product"></a>
                    <div class="card-body py-2">
                        <a class="product-meta d-block fs-xs pb-1" href="#">Dairy and Eggs</a>
                        <h3 class="product-title fs-sm text-truncate"><a href="grocery-single.html">Mozzarella Cheese (125g)</a></h3>
                        <div class="product-price"><span class="text-accent">$4.<small>30</small></span></div>
                    </div>
                    <div class="product-floating-btn">
                        <button class="btn btn-primary btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                    </div>
                </div>
            </div>
            <!-- Product-->
            <div>
                <div class="card product-card card-static pb-3">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html"><img src="img/grocery/catalog/09.jpg" alt="Product"></a>
                    <div class="card-body py-2">
                        <a class="product-meta d-block fs-xs pb-1" href="#">Personal hygiene</a>
                        <h3 class="product-title fs-sm text-truncate"><a href="grocery-single.html">Men’s Shampoo (400ml)</a></h3>
                        <div class="product-price"><span class="text-accent">$5.<small>99</small></span></div>
                    </div>
                    <div class="product-floating-btn">
                        <button class="btn btn-primary btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                    </div>
                </div>
            </div>
            <!-- Product-->
            <div>
                <div class="card product-card card-static pb-3">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html"><img src="img/grocery/catalog/10.jpg" alt="Product"></a>
                    <div class="card-body py-2">
                        <a class="product-meta d-block fs-xs pb-1" href="#">Meat and Poultry</a>
                        <h3 class="product-title fs-sm text-truncate"><a href="grocery-single.html">Frozen Oven-ready Poultry</a></h3>
                        <div class="product-price"><span class="text-accent">$12.<small>00</small></span></div>
                    </div>
                    <div class="product-floating-btn">
                        <button class="btn btn-primary btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                    </div>
                </div>
            </div>
            <!-- Product-->
            <div>
                <div class="card product-card card-static pb-3">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html"><img src="img/grocery/catalog/11.jpg" alt="Product"></a>
                    <div class="card-body py-2">
                        <a class="product-meta d-block fs-xs pb-1" href="#">Snacks, Sweets and Chips</a>
                        <h3 class="product-title fs-sm text-truncate"><a href="grocery-single.html">Dark Chocolate with Nuts</a></h3>
                        <div class="product-price"><span class="text-accent">$2.<small>50</small></span></div>
                    </div>
                    <div class="product-floating-btn">
                        <button class="btn btn-primary btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                    </div>
                </div>
            </div>
            <!-- Product-->
            <div>
                <div class="card product-card card-static pb-3">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html"><img src="img/grocery/catalog/12.jpg" alt="Product"></a>
                    <div class="card-body py-2">
                        <a class="product-meta d-block fs-xs pb-1" href="#">Canned Food and Oil</a>
                        <h3 class="product-title fs-sm text-truncate"><a href="grocery-single.html">Corn Oil Bottle (500ml)</a></h3>
                        <div class="product-price"><span class="text-accent">$3.<small>10</small></span></div>
                    </div>
                    <div class="product-floating-btn">
                        <button class="btn btn-primary btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                    </div>
                </div>
            </div>
            <!-- Product-->
            <div>
                <div class="card product-card card-static pb-3">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html"><img src="img/grocery/catalog/13.jpg" alt="Product"></a>
                    <div class="card-body py-2">
                        <a class="product-meta d-block fs-xs pb-1" href="#">Fish and Seafood</a>
                        <h3 class="product-title fs-sm text-truncate"><a href="grocery-single.html">Steak Salmon Fillet (1kg)</a></h3>
                        <div class="product-price"><span class="text-accent">$17.<small>99</small></span></div>
                    </div>
                    <div class="product-floating-btn">
                        <button class="btn btn-primary btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                    </div>
                </div>
            </div>
            <!-- Product-->
            <div>
                <div class="card product-card card-static pb-3">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html"><img src="img/grocery/catalog/14.jpg" alt="Product"></a>
                    <div class="card-body py-2">
                        <a class="product-meta d-block fs-xs pb-1" href="#">Canned Food and Oil</a>
                        <h3 class="product-title fs-sm text-truncate"><a href="grocery-single.html">Sardine in Tomato Sauce (105g)</a></h3>
                        <div class="product-price"><span class="text-accent">$3.<small>25</small></span></div>
                    </div>
                    <div class="product-floating-btn">
                        <button class="btn btn-primary btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Reviews-->
<section class="py-5 bg-light rounded-3 my-4 my-md-5 px-3 px-sm-4">
    <h2 class="h3 py-4 text-center">Customer reviews</h2>
    <div class="tns-carousel mb-3">
        <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 20, &quot;controls&quot;: false, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 5000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;576&quot;:{&quot;items&quot;:2},&quot;1200&quot;:{&quot;items&quot;:3},&quot;1560&quot;:{&quot;items&quot;:4}}}">
            <blockquote class="mb-2">
                <div class="card border-0">
                    <div class="card-body px-3 fs-md text-muted">
                        <div class="mb-2">
                            <div class="star-rating">
                                <i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                            </div>
                        </div>Lorem ipsum dolor sit amet, quia non consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua porro quisquam est.
                    </div>
                </div>
                <footer class="d-flex justify-content-center align-items-center pt-4">
                    <img class="rounded-circle" src="img/testimonials/03.jpg" width="50" alt="Richard Davis">
                    <div class="ps-3">
                        <h6 class="fs-sm mb-n1">Richard Davis</h6><span class="fs-ms text-muted opacity-75">Feb 14, 2020</span>
                    </div>
                </footer>
            </blockquote>
            <blockquote class="mb-2">
                <div class="card border-0">
                    <div class="card-body px-3 fs-md text-muted">
                        <div class="mb-2">
                            <div class="star-rating">
                                <i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i>
                            </div>
                        </div>Lorem ipsum dolor sit amet, quia non consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua porro quisquam est.
                    </div>
                </div>
                <footer class="d-flex justify-content-center align-items-center pt-4">
                    <img class="rounded-circle" src="img/testimonials/04.jpg" width="50" alt="Laura Willson">
                    <div class="ps-3">
                        <h6 class="fs-sm mb-n1">Laura Willson</h6><span class="fs-ms text-muted opacity-75">Feb 05, 2020</span>
                    </div>
                </footer>
            </blockquote>
            <blockquote class="mb-2">
                <div class="card border-0">
                    <div class="card-body px-3 fs-md text-muted">
                        <div class="mb-2">
                            <div class="star-rating">
                                <i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i><i class="star-rating-icon ci-star"></i>
                            </div>
                        </div>Lorem ipsum dolor sit amet, quia non consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua porro quisquam est.
                    </div>
                </div>
                <footer class="d-flex justify-content-center align-items-center pt-4">
                    <img class="rounded-circle" src="img/testimonials/01.jpg" width="50" alt="Mary Grant">
                    <div class="ps-3">
                        <h6 class="fs-sm mb-n1">Mary Alice Grant</h6><span class="fs-ms text-muted opacity-75">Jan 27, 2020</span>
                    </div>
                </footer>
            </blockquote>
            <blockquote class="mb-2">
                <div class="card border-0">
                    <div class="card-body px-3 fs-md text-muted">
                        <div class="mb-2">
                            <div class="star-rating">
                                <i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                            </div>
                        </div>Lorem ipsum dolor sit amet, quia non consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua porro quisquam est.
                    </div>
                </div>
                <footer class="d-flex justify-content-center align-items-center pt-4">
                    <img class="rounded-circle" src="img/shop/reviews/01.jpg" width="50" alt="Rafael Marquez">
                    <div class="ps-3">
                        <h6 class="fs-sm mb-n1">Rafael Marquez</h6><span class="fs-ms text-muted opacity-75">Dec 19, 2020</span>
                    </div>
                </footer>
            </blockquote>
            <blockquote class="mb-2">
                <div class="card border-0">
                    <div class="card-body px-3 fs-md text-muted">
                        <div class="mb-2">
                            <div class="star-rating">
                                <i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i>
                            </div>
                        </div>Lorem ipsum dolor sit amet, quia non consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua porro quisquam est.
                    </div>
                </div>
                <footer class="d-flex justify-content-center align-items-center pt-4">
                    <img class="rounded-circle" src="img/testimonials/02.jpg" width="50" alt="Adrian Lewis">
                    <div class="ps-3">
                        <h6 class="fs-sm mb-n1">Adrian Lewis</h6><span class="fs-ms text-muted opacity-75">Dec 13, 2020</span>
                    </div>
                </footer>
            </blockquote>
            <blockquote class="mb-2">
                <div class="card border-0">
                    <div class="card-body px-3 fs-md text-muted">
                        <div class="mb-2">
                            <div class="star-rating">
                                <i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i><i class="star-rating-icon ci-star"></i>
                            </div>
                        </div>Lorem ipsum dolor sit amet, quia non consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua porro quisquam est.
                    </div>
                </div>
                <footer class="d-flex justify-content-center align-items-center pt-4">
                    <img class="rounded-circle" src="img/shop/reviews/03.jpg" width="50" alt="Daniel Adams">
                    <div class="ps-3">
                        <h6 class="fs-sm mb-n1">Daniel Adams</h6><span class="fs-ms text-muted opacity-75">Dec 04, 2020</span>
                    </div>
                </footer>
            </blockquote>
        </div>
    </div>
</section>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
